# Copyright © 2026 Valve Corporation.
# SPDX-License-Identifier: BSD-3-Clause
#
# D-Bus activation file for dirlockd.

[D-BUS Service]
Name=com.valvesoftware.Dirlock1
Exec=/usr/lib/dirlock/dirlockd
User=root
SystemdService=dirlockd.service
